SIMPLEAUTH_HOST="localhost"
SIMPLEAUTH_PORT=8080
SIMPLEAUTH_EMAIL_ADDR="test@test.com"
SIMPLEAUTH_EMAIL_PASS="smtp_server_password"
SIMPLEAUTH_EMAIL_HOST="smtp.example.com"
SIMPLEAUTH_EMAIL_PORT=587
SIMPLEAUTH_SECRET="my_backend_secret"