HOST="localhost"
PORT=8080
EMAIL_ADDR="test@test.com"
EMAIL_USER="test@test.com"
EMAIL_PASS="smtp_server_password"
EMAIL_HOST="smtp.example.com"
EMAIL_PORT=587
SECRET="my_backend_secret"
NOTIFICATION_QUEUE_SIZE=1000
NOTIFICATION_QUEUE_WORKERS=10